eureka:
  instance:
    hostname: ${HOST_NAME}
    preferIpAddress: true
logging:
  level:
    root: ERROR
    uk:
      co:
        jamesmcguigan:
          forecaster:
            stock.acquisition: INFO
server:
  port: 8080
spring:
  data:
    mongodb:
      #      username: root
      #      password: root
      database: test
      port: 27017
      host: host.docker.internal
    rest:
      mongodb:
        uri: mongodb://host.docker.internal:27017/test
      base-path: /api